$break-medium: 720px;
$break-small: 580px;


.basket-component {
    table {
        margin-top: 65px;
        width: 100%;
        border-collapse: collapse;
        position: relative;

        thead {
            th {
                border-bottom: 2px solid #787878;
                font-size: 16px;
                padding: 0 10px;
                margin-bottom: 10px;
                text-align: center;

                &.left {
                    text-align: left;
                }

                &.right {
                    text-align: right;
                }

                &:first-child {
                    padding-left: 20px;
                }

                &:last-child {
                    padding-right: 20px;
                }
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background: #dddddd;
                }

                &:first-child {
                    td {
                        padding-top: 23px;
                    }
                }

                td {
                   padding: 9px 10px;
                   text-align: center;
                   font-size: 16px;

                    &:first-child {
                        width: 225px;
                    }

                    &.left {
                        text-align: left;
                    }

                    &.right {
                        text-align: right;
                    }

                    &:first-child {
                        padding-left: 20px;
                    }

                    &:last-child {
                        padding-right: 20px;
                    }

                    input {
                        width: 38px;
                        height: 28px;
                        border: 1px solid #999999;
                        text-align: right;
                        padding: 0 5px;
                        box-sizing: border-box;
                    }

                    .qty-controls {
                        color: #fff;
                        cursor: pointer;
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 11px;
                        margin-left: 3px;

                        @media screen and (max-width: $break-small) {
                            display: block;
                            margin-left: 0;
                            margin-top: 2px;
                        }

                        > div {
                            background-color: #999999;
                            width: 16px;
                            height: 13px;
                            text-align: center;

                           @media screen and (max-width: $break-small) {
                                display: inline-block;
                                width: 18px;
                            }
                        }

                        .add {
                            margin-bottom: 2px;

                            @media screen and (max-width: $break-small) {
                                margin-bottom: 0;
                                margin-right: 2px;
                            }
                        }
                    }

                    .trash-bin {
                        width: 26px;
                        display: inline-block;
                        margin-left: 25px;
                        margin-right: -51px;
                        cursor: pointer;
                        vertical-align: middle;

                        @media screen and (max-width: $break-small) {
                            margin-left: 0;
                            margin-right: 0;
                        }

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .details {
        margin-top: 34px;
        padding: 0 20px;
        font-size: 16px;
        color: #666666;

        > div {
            padding: 3px 0;
            display: flex;

            > div {
                float: left;
                width: 50%;

                &.amount {
                    text-align: right;
                }
            }

            &.total {
                color: #000;
                font-weight: bold;
                margin-top: 22px;
            }
        }
    }

    .buy-now {
        padding: 0 20px;
        margin: 50px 0 175px 0;
        text-align: right;

        button {
            background-color: #000066;
            border: 0;
            color: #fff;
            cursor: pointer;
            outline: none;
            font-size: 20px;
            padding: 15px;
            border-radius: 10px;
            -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.75);
            box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.75);
            margin-left: auto;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}