.basket-component table {
  margin-top: 65px;
  width: 100%;
  border-collapse: collapse;
  position: relative; }
  .basket-component table thead th {
    border-bottom: 2px solid #787878;
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 10px;
    text-align: center; }
    .basket-component table thead th.left {
      text-align: left; }
    .basket-component table thead th.right {
      text-align: right; }
    .basket-component table thead th:first-child {
      padding-left: 20px; }
    .basket-component table thead th:last-child {
      padding-right: 20px; }
  .basket-component table tbody tr:nth-child(even) {
    background: #dddddd; }
  .basket-component table tbody tr:first-child td {
    padding-top: 23px; }
  .basket-component table tbody tr td {
    padding: 9px 10px;
    text-align: center;
    font-size: 16px; }
    .basket-component table tbody tr td:first-child {
      width: 225px; }
    .basket-component table tbody tr td.left {
      text-align: left; }
    .basket-component table tbody tr td.right {
      text-align: right; }
    .basket-component table tbody tr td:first-child {
      padding-left: 20px; }
    .basket-component table tbody tr td:last-child {
      padding-right: 20px; }
    .basket-component table tbody tr td input {
      width: 38px;
      height: 28px;
      border: 1px solid #999999;
      text-align: right;
      padding: 0 5px;
      box-sizing: border-box; }
    .basket-component table tbody tr td .qty-controls {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      font-size: 11px;
      margin-left: 3px; }
      @media screen and (max-width: 580px) {
        .basket-component table tbody tr td .qty-controls {
          display: block;
          margin-left: 0;
          margin-top: 2px; } }
      .basket-component table tbody tr td .qty-controls > div {
        background-color: #999999;
        width: 16px;
        height: 13px;
        text-align: center; }
        @media screen and (max-width: 580px) {
          .basket-component table tbody tr td .qty-controls > div {
            display: inline-block;
            width: 18px; } }
      .basket-component table tbody tr td .qty-controls .add {
        margin-bottom: 2px; }
        @media screen and (max-width: 580px) {
          .basket-component table tbody tr td .qty-controls .add {
            margin-bottom: 0;
            margin-right: 2px; } }
    .basket-component table tbody tr td .trash-bin {
      width: 26px;
      display: inline-block;
      margin-left: 25px;
      margin-right: -51px;
      cursor: pointer;
      vertical-align: middle; }
      @media screen and (max-width: 580px) {
        .basket-component table tbody tr td .trash-bin {
          margin-left: 0;
          margin-right: 0; } }
      .basket-component table tbody tr td .trash-bin img {
        width: 100%;
        height: auto; }

.basket-component .details {
  margin-top: 34px;
  padding: 0 20px;
  font-size: 16px;
  color: #666666; }
  .basket-component .details > div {
    padding: 3px 0;
    display: flex; }
    .basket-component .details > div > div {
      float: left;
      width: 50%; }
      .basket-component .details > div > div.amount {
        text-align: right; }
    .basket-component .details > div.total {
      color: #000;
      font-weight: bold;
      margin-top: 22px; }

.basket-component .buy-now {
  padding: 0 20px;
  margin: 50px 0 175px 0;
  text-align: right; }
  .basket-component .buy-now button {
    background-color: #000066;
    border: 0;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    margin-left: auto; }
    .basket-component .buy-now button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
