html {
  min-height: 100%; }

h1 {
  font-size: 27px; }

body {
  font-family: 'Droid Serif';
  font-size: 14px;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
  /* IE6-9 */ }

.wrap {
  overflow: hidden; }

.main {
  width: 500px;
  margin: 0 auto; }
  @media screen and (max-width: 720px) {
    .main {
      width: 85%; } }
  @media screen and (max-width: 580px) {
    .main {
      width: 100%; } }
  .main header {
    padding: 0 10px;
    margin-top: 170px; }
    .main header > img {
      width: 41%; }
      @media screen and (max-width: 580px) {
        .main header > img {
          min-width: 200px; } }
  .main section .description {
    padding: 0 20px; }
    .main section .description > h1 {
      margin-bottom: 0; }
    .main section .description p {
      letter-spacing: -0.7px; }

footer {
  background: #666666;
  text-align: center;
  overflow: hidden; }
  footer p {
    color: #fff;
    font-size: 10px;
    margin: 15px 0; }
